
body {
    font-family: "Veteran Typewriter", serif;
    background-image: url("./public/paper.jpg");
}

.jump {
    scroll-margin-top: 125px;
  }

.jump:hover {
    text-decoration: none;
    color: black;
}

nav {
    font-size:1.7em;
    background-color: rgb(67, 68, 69);
}

#logo {
    color: rgb(242, 242, 240);
}

#logo:hover {
    color: rgb(242, 242, 240);
    text-decoration: none;
}

.nav-titles {
    padding-top: 1em;
    color: rgb(242, 242, 240)
}
.intro {
    margin-top: 13em;
}

.about {
    font-size: 1.5em;
}

.my-border {
    border: solid 2px rgb(242, 242, 240)
}

.my-border-2 {
    border: solid 2px rgb(67, 68, 69);
}

a {
    color: black;
}

.nav-titles:hover {
    color: rgb(242, 242, 240)
}

.opening-image {
    font-size: 7em;
}

.btn-primary {
    background-color: rgb(67, 68, 69);
    border-color: rgb(67, 68, 69);
}

.sub-heading {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

.skill-icon {
    font-size: 3em;
  }

.skill-img {
      width: 3em;
      margin-bottom: 2em;
  }

  .card-text {
      text-align: justify;
  }

footer {
    background: rgb(67, 68, 69);
}

.footer-icon{
    padding: .2em;
    font-size: 3em;
    color: rgb(242, 242, 240);
}

#footer-icon-1:hover, #footer-icon-2:hover {
    text-decoration: none;
    color: rgb(214, 214, 150);
   
}



.btn:hover{
    background-color: rgb(242, 242, 240);
    color: rgb(67, 68, 69);
}

@media only screen and (min-width: 769px) {
    

    .card {
        min-width: 30%;
        max-width: 400px;
    }
    .project-container {
        display: flex;
        justify-content: center;
    }
    .project-section {
        margin-left: 2em;
        margin-right: 2em;
        padding-left: 2em;
        padding-right: 2em;

    }

}
@media only screen and (max-width: 768px) {
    
   
    .intro {
        margin-top: 10em;
    }

    .about {
        font-size: 1.5em;
    }

    .opening-image {
        font-size: 5em;
    }

    .sub-heading {
        font-size: 3em;
    }
  
    .project-container {
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }

    .project-section {
        margin: 2em;
    }
}
@media only screen and (max-width: 500px) {

    body {
        background:  rgb(242, 242, 240);;
    }

    .intro {
        margin-top: 8em;
    }

    .about {
        font-size: 1em;
    }

    .opening-image {
        font-size: 2.5em;
    }

    .sub-heading {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    .about-head {
        margin-top: 0;
        padding-top: 0;
    }

    .project-section, .card, .project-container, .projects, .my-border-2 {
        margin-left: 0em;
        margin-right: 0em;
        padding-left: 0em;
        padding-right: 0em;
    }
  }